main {
    width: min(70ch, 100% - 2rem);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#createdAt {
    font-size: 0.8rem;
}

#description {
    white-space: pre;
}
