main {
    width: min(70ch, 100% - 2rem);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form > div {
    display: flex;
    flex-direction: column;
}

form > div > label {
    font-size: 0.8rem;
}
