main {
    width: min(70ch, 100% - 2rem);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & > div {
        display: flex;
        flex-direction: column;

        & > label {
            font-size: 0.8rem;
        }
    }
}
